#identite{
    display: none;
}

#identite:target{
    display: block;
}
#identite table,  #change table,  #changemdp table{
    width: 80%;
    /* border-collapse: collapse; */
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
}

h1, .cid{
    font-family: Poppins,sans-serif;
    text-align: center;
    font-weight: 222;
    text-decoration: underline;
}

#change, #avscom, #changemdp{
    display: none;
}

#change:target, #changemdp:target{
    display: block;
}
.eye i {
    margin-left: -30px;
    cursor: pointer;
}
.moche{
    color: red;
    font-weight: bold;
    font-variant: small-caps;
}
.center {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
#commande{
    display: none;
    text-align: left;
    font-size: 15px;
    margin:35px 0 35px 100px;
    font-family: PT serif;

    border: 5px solid var(--lightbrown) ;
    padding: 30px ;
    margin: 50px 80px;
    border-radius: 15px;
    width: 60%;
}

#commande> table{
    width: 90%;
    border-collapse: collapse;
}

#commande> th{
    text-align: left;
    font-size: 17px;
    border-bottom: 1px solid black;
}

#commande> table tr{
    border-bottom: 0.2px solid black;
    text-align: left;
}
#commande> table tr td{
    width: 20%;
    height: 30px;
}


#commande:target{
    display: block;
}

#devis{
    display: none;

}

#devis:target{
    display: block;
}

input[type=text],input[type=email],input[type=file],input[type=password], textarea, select{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    background: var(--white);
    resize: vertical;
}